//main: ../style.less
.about__us {
  margin-top: 3rem;
  position: relative;
  z-index: 2;
}
.about__us--aside {
  background-color: @orange;
  width: 490px;
  height: 690px;
  position: absolute;
  top: 16.5rem;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  h4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    letter-spacing: 0.5em;
    color: #676b71;
  }
}
.about__us--titleBg {
  font-style: normal;
  font-weight: bold;
  font-size: 16.8rem;
  color: #f4f8f9;
}
.about__us--title {
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  color: @blue;
  margin-top: -5rem;
}
.about__us--slider {
  margin-top: 5rem;
  position: relative;
  z-index: 15;
  width: 80%;
}
.slider__item {
  margin: 0 0.5rem;
}
.btn__prev {
  position: absolute;
  top: 50%;
  left: -1%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    cursor: pointer;
  }
}
.btn__next {
  position: absolute;
  top: 50%;
  right: -1%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    cursor: pointer;
  }
}
